@using QuanLyNhaHangDemo.Models
@{
    ViewData["Title"] = "Order theo bàn";
    var table = ViewBag.Table as TableModel;
    var message = ViewBag.Message as string;
}

<h3>Bàn @table?.TableName</h3>
<p>@message</p>

<a class="btn btn-primary"
   asp-controller="Table"
   asp-action="Index">
    ← Quay lại sơ đồ bàn
</a>
