@model TableModel

<h2>Thêm bàn</h2>

<form method="post">
    <div class="form-group">
        <label>Tên bàn</label>
        <input asp-for="TableName" class="form-control" />
    </div>

    <button class="btn btn-success">Thêm</button>
</form>
