@{
    var currentUrl = Url.ActionContext.HttpContext.Request.Path;
}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h5>Sắp xếp theo</h5>
            <select id="sort_by" class="form-control">
                <option value="@currentUrl?sort_by=default">Mặc định</option>
                <option value="@currentUrl?sort_by=price_increase">Giá: Thấp đến Cao</option>
                <option value="@currentUrl?sort_by=price_decrease">Giá: Cao den thap</option>
                <option value="@currentUrl?sort_by=price_newest">Moi nhat</option>
                <option value="@currentUrl?sort_by=price_oldest">Cũ nhất</option>

            </select>
        </div>
        <div class="col-md-5">
            <h5>Khoảng giá</h5>
            <p>
                <label for="amount">Price range:</label>
                <input type="text" id="amount" readonly="" style="border:0; color:#f6931f; font-weight:bold;">
            </p>
            
            <div id="slider-range"></div>
            <button type="submit" name="locgia" data-current_url="@currentUrl" class="btn btn-danger btn-locgia">Loc Gia</button>
        </div>
    </div>
</div>